/* Standard (Default Theme) underline color */
.greedy-nav .visible-links a:before {
  background: #7a8288;
}

/* Dark Theme underline color */
html[data-theme="dark"] .greedy-nav .visible-links a:before {
  background: #fff;
}

/* Adjust left margin for the first navigation link after the site title ("About") */
.greedy-nav .visible-links li:nth-child(2) a {
  margin-left: 3.15rem;
}
